<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>Dashtreme Admin - Free Dashboard for Bootstrap 4 by Codervent</title>
  <%- include('common_css') -%>
  
</head>

<body class="bg-theme bg-theme1">
 
<%- include('sidebar_left') -%>

<%- include('header') -%>

<div class="clearfix"></div>

<div class="content-wrapper">
    <div class="container-fluid">

	<div class="row">
        <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                table

                <div class="card-action">
                  <div class="dropdown">
                  <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" aria-expanded="false">
                    <i class="icon-options"></i>
                  </a>
                    <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(14px, 19px, 0px);">
                      <a class="dropdown-item" href="/board/create">새 글쓰기</a>
                      <a class="dropdown-item" href="/board/delete">삭제</a>
                    </div>
                    </div>
                </div>
              </div>
                
              <div class="table-responsive">
                  <table class="table">
                  <thead>
                      <tr>
                        <th>#</th>
                        <th scope="col">순서</th>
                        <th scope="col">제목</th>
                        <th scope="col">조회수</th>
                      </tr>
                  </thead>
                  <tbody>
                    <% for(var i=0; i<board.length; i++){ %>
                      <tr>
                        <td><input type="checkbox" class="checkbox" id="<%=board[i]._id%>"></td>
                        <td scope="row"><%=i+1%></td>
                        <td class="board_row" data-href="/board/detail/<%=board[i]._id%>"><%=board[i].title%></td>
                        <td>0</td>
                      </tr>
                    <% } %>
                  </tbody>
                  </table>
              </div>
                </div>
            </div>
        </div>
	</div><!--End Row-->
      <!--End Dashboard Content-->
	  
	<!--start overlay-->
		  <div class="overlay toggle-menu"></div>
		<!--end overlay-->
		
    </div>
    <!-- End container-fluid-->
    
    </div><!--End content-wrapper-->
   <!--Start Back To Top Button-->
    <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
    <!--End Back To Top Button-->
	
	<!--Start footer-->
	<footer class="footer">
      <div class="container">
        <div class="text-center">
          Copyright © 2018 Dashtreme Admin
        </div>
      </div>
    </footer>
	<!--End footer-->
	
  <!--start color switcher-->
   <div class="right-sidebar">
    <div class="switcher-icon">
      <i class="zmdi zmdi-settings zmdi-hc-spin"></i>
    </div>
    <div class="right-sidebar-content">

      <p class="mb-0">Gaussion Texture</p>
      <hr>
      
      <ul class="switcher">
        <li id="theme1"></li>
        <li id="theme2"></li>
        <li id="theme3"></li>
        <li id="theme4"></li>
        <li id="theme5"></li>
        <li id="theme6"></li>
      </ul>

      <p class="mb-0">Gradient Background</p>
      <hr>
      
      <ul class="switcher">
        <li id="theme7"></li>
        <li id="theme8"></li>
        <li id="theme9"></li>
        <li id="theme10"></li>
        <li id="theme11"></li>
        <li id="theme12"></li>
		<li id="theme13"></li>
        <li id="theme14"></li>
        <li id="theme15"></li>
      </ul>
      
     </div>
   </div>
  <!--end color switcher-->
   
  </div><!--End wrapper-->

  <%- include('common_script') -%>
  
  <script>
    $(document).ready(function () {
      $(".board_row").on('click', function () {
        window.location = $(this).data("href");
      })

      $(".board_row").hover(function () {
        $(this).css('cursor', 'pointer');
      })
    })
  </script>
</body>
</html>