<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>Dashtreme Admin - Free Dashitem for Bootstrap 4 by Codervent</title>
  <%- include('common_css') -%>
</head>

<body class="bg-theme bg-theme1">
 
<%- include('sidebar_left') -%>

<%- include('header') -%>

<div class="clearfix"></div>

<div class="content-wrapper">
    <div class="container-fluid">

	<div class="row">
        <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                요청목록

                <div class="card-action">
                  <div class="dropdown">
                  <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" aria-expanded="false">
                    <i class="icon-options"></i>
                  </a>
                    <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(14px, 19px, 0px);">
                      <a class="dropdown-item" href="/request/create">요청 추가</a>
                      <a class="dropdown-item" href="/request/delete">삭제</a>
                    </div>
                  </div>
                </div>
              </div>
                
              <div class="table-responsive">
                  <table class="table">
                  <thead>
                      <tr>
                        <th scope="col">순서</th>
                        <th scope="col">제목</th>
                        <th scope="col">종류</th>
                        <th scope="col">작성자</th>
                        <th scope="col">이름</th>
                        <th scope="col">상세보기</th>
                        <th scope="col">상태</th>
                      </tr>
                  </thead>
                  <tbody>
                    <% for(var i=0; i<request.docs.length; i++){ %>
                      <tr>
                        <td style="display: none;"><input type="hidden" id="request_id" value="<%=request.docs[i]._id%>"></td>
                        <td scope="row"><%=i+1%></td>
                        <td class="request_row" data-href="/request/detail/<%=request.docs[i]._id%>"><%=request.docs[i].title%></td>
                        <td><%=request.docs[i].category%></td>
                        <td><%=request.docs[i].username%></td>
                        <td><%=request.docs[i].name%></td>
                        <td><button type="button" id="detail" class="btn btn-light px-3" data-toggle="modal" data-target="#detail_modal">상세보기</button></td>
                        <td><button type="button" class="btn btn-light px-3">대기</button></td>
                      </tr>
                    <% } %>
                  </tbody>
                  </table>
              </div>
                </div>
            </div>
        </div>

        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <% if(request.page == 1) { %>
              <li class="page-item disabled"><a class="page-link">First</a></li>
            <% } else { %>
              <li class="page-item"><a class="page-link" href="/request/list/1">First</a></li>
            <% } %>
            <% var i = request.page > 5 ? request.page - 4 : 1 %>
            <% if(i != 1) { %>
              <li class="disabled"><a class="page-link">...</a></li>
            <% } %>
            <% for (; i <= request.page + 4 && i <= request.totalPages; i++) { %>
              <% if (i == request.page) { %>
                  <li class="page-item active"><a class="page-link"><%= i %></a></li>
              <% } else { %>
                  <li class="page-item"><a class="page-link" href="/request/list/<%= i %>"><%= i %></a></li>
              <% } %>
              <% if (i == request.page + 4 && i < request.totalPages) { %>
                  <li class="page-item disabled"><a class="page-link">...</a></li>
              <% } %>
            <% } %>
            <% if (request.page == request.totalPages) { %>
                <li class="page-item disabled"><a class="page-link">Last</a></li>
            <% } else { %>
                <li class="page-item"><a class="page-link" href="/request/list/<%= request.totalPages %>">Last</a></li>
            <% } %>
          </ul>
        </nav>
	</div><!--End Row-->
      <!--End Dashitem Content-->
	  
	<!--start overlay-->
		  <div class="overlay toggle-menu"></div>
		<!--end overlay-->
		
    </div>
    <!-- End container-fluid-->
    
    </div><!--End content-wrapper-->
   <!--Start Back To Top Button-->
    <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
    <!--End Back To Top Button-->
	
	<!--Start footer-->
	<footer class="footer">
      <div class="container">
        <div class="text-center">
          Copyright © 2018 Dashtreme Admin
        </div>
      </div>
    </footer>
	<!--End footer-->
	
  <!--start color switcher-->
   <div class="right-sidebar">
    <div class="switcher-icon">
      <i class="zmdi zmdi-settings zmdi-hc-spin"></i>
    </div>
    <div class="right-sidebar-content">

      <p class="mb-0">Gaussion Texture</p>
      <hr>
      
      <ul class="switcher">
        <li id="theme1"></li>
        <li id="theme2"></li>
        <li id="theme3"></li>
        <li id="theme4"></li>
        <li id="theme5"></li>
        <li id="theme6"></li>
      </ul>

      <p class="mb-0">Gradient Background</p>
      <hr>
      
      <ul class="switcher">
        <li id="theme7"></li>
        <li id="theme8"></li>
        <li id="theme9"></li>
        <li id="theme10"></li>
        <li id="theme11"></li>
        <li id="theme12"></li>
		<li id="theme13"></li>
        <li id="theme14"></li>
        <li id="theme15"></li>
      </ul>
      
     </div>
   </div>
  <!--end color switcher-->
   
  </div><!--End wrapper-->

  <!-- Modal -->
  <div class="modal fade" id="detail_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content" style="background-color: mediumslateblue;">
        <div class="modal-header">
          <h5 class="modal-title" id="modal_title">입&출고 기록</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="inout_modal_form" action="" method="post">
            <div>
              <label for="input-1">구분</label>
              <select class="form-control" name="category" form="inout_modal_form">
                <option value="in">입고</option>
                <option value="out">출고</option>
              </select>
            </div>
            <div class="form-group">
              <label for="input-1">수량</label>
              <input class="form-control" type="number" name="number">
            </div>
            <div class="form-group">
              <label for="input-1">날짜</label>
              <input class="form-control" type="date" name="date">
            </div>
            <div class="form-group">
              <label for="input-2">비고</label>
              <textarea rows="5" class="form-control" name="desc"></textarea>
             </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
          <button id="inout_modal_save" type="button" class="btn btn-primary">저장</button>
        </div>
      </div>
    </div>
  </div>


  <%- include('common_script') -%>
  
  <script>
    $(document).ready(function () {
      $(".request_row").on('click', function () {
        window.location = $(this).data("href");
      })

      $(".request_row").hover(function () {
        $(this).css('cursor', 'pointer');
      })

      $("#detail").on('click', function () {
        var request_id = $("#request_id").val();

        console.log(request_id);

        $.ajax({ 
          url: "/request/detail/modal",
          data: {request_id : request_id},
          method: 'post',
          dataType: 'json',
          success: function (result) {
            console.dir(result);
            if(result.result == 1){

            }else{
              
            }
          },
          error: function (xhr, status, error) {
            console.log(error);
          }
        })
      })
    })
  </script>
</body>
</html>